#Thu, 25 Apr 2013 10:57:58 +0200
app.name=USIMobile
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app

app.cmd.version=3.1.1.274

app.build.dir=${workspace.build.dir}/${app.name}
app.id=23794b78-c97e-4e04-8cad-beec937ad4b7
