$base-color: #F90;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('usi_home');
@include pictos-iconmask('usi_user');

.license_title {
	font-size: large;
	font-weight: bold;
	padding: 10px;
}

.license_body {
	padding: 10px;
}

.home_button {
	.icon {
		position: absolute;
		left: 50%;
		top: 15%;
		background-repeat: no-repeat;
		background-position: center;
		width: 100px;
		height: 100px;
		padding-top: 80px;
		margin-left: -50px;
		.label {
			position: relative;
			font-weight: normal;
			text-align: center;
			color: black;
		}
	}
}


.courses_icon {
	background-image: url('../icons/courses.png');
}

.news_icon {
	background-image: url('../icons/news.png');
}

.calendar_icon {
	background-image: url('../icons/calendar.png');
}

.services_icon {
	background-image: url('../icons/services.png');
}

.library_icon {
	background-image: url('../icons/library.png');
}

.people_icon {
	background-image: url('../icons/people.png');
}

.mensa_icon {
	background-image: url('../icons/mensa.png');
}

.sport_icon {
	background-image: url('../icons/sport.png');
}

.career_icon {
	background-image: url('../icons/career.png');
}

.short_news_publish_date{
	color: gray;
	text-align: right;
	font-size: small;
}

.detailed_news_title,
.detailed_news_body,
.detailed_detailed_url,
.detailed_news_publish_start_date {
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}

.detailed_news_title{ }

.course_title,
.course_description,
.course_professors,
.course_level,
.course_credits,
.course_semester,
.course_semester_start,
.course_semester_end,
.sport_activity_name,
.sport_activity_description,
.sport_activity_discipline,
.sport_activity_start_date,
.sport_activity_end_date,
.sport_activity_location,
.sport_activity_lodging,
.sport_activity_comeback,
.sport_activity_contact,
.sport_activity_meal,
.sport_activity_requirements,
.sport_activity_equipment,
.sport_activity_transport,
.sport_activity_subscription_start_date,
.sport_activity_subscription_end_date {
	padding: 5px;
	margin-top: 10px;
	background-color: white;
}

.examination_session {
	padding-bottom: 5px;
}

.registration_begin,
.registration_end,
.examination_begin,
.examination_end {
	font-size: small;
	color: gray;
}

.registration_end,
.examination_end {
	padding-top: 5px;
	padding-bottom: 10px;
}

